doctype html
html(lang="en")
    head
        title Update contact info
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p Pet Name: #{name}
            p Type: #{type}
            p Leg count: #{leg_count}
            form(method="POST")
                label(for="petName") Pet Name
                input(type="text" name="petName")
                label(for="petType") Type 
                input(type="text" name="petType")
                label(for="legCount") Leg count
                input(type="number" name="legCount")
                input(type="submit" value="Submit")