doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/style.css")
    body   
        h1 Pet Update Table 
        table(style='width:100%')
            tr
                th Pet Name
                th Type 
                th Leg count
            each pets in data 
                tr
                    td #{pets.properties.name}
                    td #{pets.properties.type} 
                    td #{pets.properties.leg_count} 
                    td 
                        a(href="/update-cobj?ObjectId="+ pets.id) edit 
